
<link href="~/css/jquery-ui.css" rel="stylesheet" />

<link href="~/DataTables-1.10.18/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/DataTables-1.10.18/css/datatables.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Accounts";
}



<style>
    span.field-validation-error {
        color: red;
    }
</style>

<div style="width:90%; margin:0 auto" class="tablecontainer">
    <a class="popup btn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;">Add New Account</a>
    <table id="myDatatable">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Desc</th>
                <th>Group Order</th>
                <th>Account Serial</th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
    </table>
</div>


@section scripts
    {
    <environment names="Development">
        <script src="~/DataTables-1.10.18/js/datatables.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery-ui-1.8.20.js" asp-append-version="true"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/accounts.js?v=1" asp-append-version="true"></script>
    </environment>

}
